# Backend
fastapi
uvicorn

# Streamlit UI
streamlit

# File upload & parsing
python-multipart
pypdf2
python-docx

# Core embeddings
sentence-transformers
faiss-cpu

# LangChain
langchain
langchain-community
langchain-core
langchain-huggingface

# LLM API
requests

# Env handling
python-dotenv

# Data validation
pydantic

